/* Font family (Google font) */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
.menus-container,
.banner-container,
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Navbar section styles */
.g {
  color: #ff42a5;
}
nav {
  max-width: 1320px;
  margin: 0 auto;
}
.nav-container {
  background-color: rgba(238, 130, 238, 0.199);
}
.nav-logo-title-container {
  display: flex;
  align-items: center;
}
.nav-logo-title-container img {
  width: 100px;
  margin-right: 20px;
}
.nav-logo-title-container h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.menus-container a {
  margin-right: 32px;
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.menus-container a i {
  color: #f61c0d;
  width: 40px;
}
#youtube {
  text-align: center;
}
#youtube:hover {
  text-align: center;
  width: 262px;
  padding: 5px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

/* Banner section styles */

.banner-container h2 {
  color: #0b0223;
  text-align: left;
  font-size: 48px;
  font-weight: 600;
}
.banner-container h1 {
  text-align: left;
  font-size: 95px;
  font-weight: 800;
  color: purple;
}

.banner-container p {
  color: #534c64;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}
.banner-btn,
.banner-btn-2 {
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background-color: #ff42a5;
  border: 0;
}
.banner-btn-2 {
  background-color: #4ec5f7;
  border: 0;
}

/* We are gamer section styles */
.gamer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 150px 100px;
}
.text-div {
  text-align: right;
  width: 35%;
}
.image-div img {
  width: 75%;
}
.section-title {
  font-size: 48px;
  font-weight: 700;
  color: #f948b2;
}

.section-description,
.play-instantly-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.play-instantly-description {
  text-align: center;
}
.section-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;

  background-color: #ff42a5;
  border-radius: 45px;
  border: 0;
}

.section-upper-footer {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
}

.section-footer {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}
.text-pink {
  color: #ff42a5;
}
/* Online Games section styles */
.online-games-title,
.play-instantly-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.play-instantly-title {
  text-align: center;
}
.online-games-container {
  text-align: center;
  margin: 50px 0;
}

/* card section styles */
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card img {
  width: 75%;
}
.card:hover {
  transform: scale(1.1);
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.card-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Play Instantly section styles */
.my-talking-angel {
  width: 318px;
  border-radius: 8px;
  border: 10px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 100px;
  right: 100px;
}

.play-container {
  max-width: 1320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.play-container div {
  width: 40%;
}
/* Mobile responsive styles */
@media screen and (max-width: 576px) {
  /* Navbar  section mobile responsive styles */

  nav {
    width: 100%;
  }

  /* shared styles */
  .card-container,
  .play-container,
  .gamer-container,
  .banner-container,
  .nav-container,
  .menus-container {
    flex-direction: column;
  }

  /* Banner section mobile responsive styles */
  .banner-container div {
    width: 50%;
    border: 2px solid red;
    margin: 20px auto;
  }
  .banner-img img {
    max-width: 500px;

    margin: auto;
  }
  .menus-container a {
    margin-bottom: 30px;
  }
  /* .card-container, */
  .gamer-container,
  .banner-container div,
  .banner-container h2,
  .banner-container h1,
  .banner-container p {
    text-align: center;
  }

  /* We are gamer section styles */
  .gamer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }
  .gamer-container {
    width: 100%;
  }
  .gamer-container img {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .text-div {
    text-align: center;
    width: 100%;
  }

  .card img {
    width: 75%;
  }

  /* Play Instantly section styles */
  .play-instantly-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }
  .play-container {
    max-width: 576px;
  }
  .play-container div {
    width: 80%;
    margin: 20px auto;
  }
  .play-img {
    max-width: 450px;
    margin: 0 auto;
  }
}

/* Tablet responsive styles */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* Navbar  section tablet responsive styles */
  nav {
    width: 100%;
  }
  .nav-container,
  .banner-container {
    flex-direction: column-reverse;
  }

  .menus-container a {
    margin-top: 30px;
  }

  .gamer-container {
    width: 100%;
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .gamer-container {
    width: 100%;
  }
  .gamer-container img {
    width: 100%;
    padding: 0;
    margin: 20px auto;
  }

  .text-div {
    text-align: center;
    width: 100%;
  }
  /* Play Instantly section styles */
  .play-instantly-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }
  .play-container {
    max-width: 992px;
    flex-direction: column-reverse;
  }
  .play-container div {
    padding: 20px;
    width: 80%;
    margin: 20px auto;
  }
  .play-img {
    max-width: 900px;
    margin: 0 auto;
  }
}
